/*
Theme Name: Custom Theme
Author: Dino
Description: This is a custom theme.
Version: 1.0
Text Domain: customtheme
*/

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.test {
	color: #FF0000;
}